<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <img src="assets/2560px-Logo_DuocUC.svg.png" alt="Logo de la Compañía" class="logo-image">
  <p class="welcome-text">Bienvenida/o a QR-Class</p>
  <div class="animation-container">
    <img src="assets/Animation_ini.gif" alt="Animación de Bienvenida" class="gif-animation">
  </div>
  <ion-button expand="block" color="primary" class="ion-margin" routerLink="/login">Iniciar Sesión</ion-button>
  <ion-button expand="block" color="primary" class="ion-margin" routerLink="/register">Registrarse</ion-button>
</ion-content>