.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto; /* Empuja el contenido hacia abajo */
    margin-bottom: auto; /* Empuja el contenido hacia arriba */
    text-align: center; /* Centra el texto horizontalmente */
  }
  
  
  .login-form {
    margin-bottom: 20px;
    width: 80%;
    max-width: 400px;
  }
  
  .login-label {
    font-size: 16px;
    color: #333;
  }
  
  .login-input {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-icon {
    font-size: 24px;
    color: #333;
  }
  
  .login-button,
  .forgot-password-button {
    margin-top: 10px;
    border-radius: 8px;
  }
  
  .message {
    margin-top: 20px;
    text-align: center;
    color: #333;
    font-weight: bold;
  }

  .label-username {
    color: #FF5733; /* Cambia el color al que desees */
  }
  
  .label-password {
    color: #009688; /* Cambia el color al que desees */
  }
  
  