<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forgot-password-content">
  <div class="forgot-password-container">
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" required></ion-input>
    </ion-item>

    <ion-button class="reset-password-button" color="primary" (click)="resetPassword()">
      Restablecer Contraseña
    </ion-button>
    
  </div>
</ion-content>


